@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

page-home {
    .brand-name {
        font-family: 'Pacifico', cursive;
        font-weight: 900;
        font-size: 5em !important;
    }
    .content-bloc {
        margin-top: 150px;
    }

    .score {
        font-size: 2.7em;
    }

}
